 .card {
  border: none;
  // border-bottom: 2px solid var(--asb-main); 
}

.card:last-of-type {
  border: none;
  // border-bottom: 2px solid var(--asb-main); 
} 

.card-header{ 
  border: none; 
  border-bottom: 2px solid var(--asb-main); 
}