// mx-1  mt-5 mb-1 py-5 py-lg-5 px-1 px-lg-5 mx-lg-5
.step-container{
    margin: 1.5rem 3rem 1.5rem 3rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
}


@media (max-width: 768px) {
    .step-container{
        margin: 0.5rem;
        padding: 0.5rem;
    }
  }
  
  @media (max-width: 576px) {
    .step-container{
        margin: 0.25rem;
        padding: 0.25rem;
    }
  }