.bg-header {
  background-color: var(--asb-main) !important;
}

.nav-link {
  color: white;
  &::before{
    content: '';
    padding: 0;
  }
  &:hover {
    color: var(--asb-accent) !important;
  }
  &:focus,
  &:active {
    color: white !important;
    font-weight: bold;
  }
}

.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  color: white !important;
  font-weight: bold;
}

.dropdown-menu {
  border-radius: 0 !important;
  width: 100vw !important;
  background-color: var(--asb-main-light) !important;
  margin-top: -1px !important;
  padding: 0.3rem 8rem 0.1rem 8rem;
  border-bottom: 2px solid var(--asb-main); 
  &.show {
    display: flex !important; 
    justify-content: center !important; 
  }
}

li > .dropdown-item::before{
    content: '';
    padding: 0;
  } 

.dropdown-item:active,
.dropdown-item:hover {
  color: var(--asb-secondary) !important;
  background-color: var(--asb-main-light) !important;
}
.dropdown-item:focus {
  color: var(--asb-secondary) !important;
  background-color: var(--asb-main-light) !important;
  font-weight: bold;
}

.dropdown-toggle::after {
  border: none!important; 
  content: url('https://api.iconify.design/fa6-solid/chevron-down.svg?color=white') !important; /* the desired FontAwesome icon */
  vertical-align: middle; /* to center vertically */
  & :focus, &:active{
    font-weight: bold;
  }
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
  box-shadow: 0 0 0 var(--asb-main) !important;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  & .navbar-toggler-icon {
    background: url("https://api.iconify.design/clarity/close-line.svg?color=white")
      no-repeat center center / contain !important;
    width: 2rem;
    height: 2rem;
  }
  &.collapsed {
    outline: none !important;
    & .navbar-toggler-icon {
      background: url("https://api.iconify.design/clarity/bars-line.svg?color=white")
        no-repeat center center / contain !important;
      width: 2rem;
      height: 2rem;
      outline: none !important;
    }
  }
}

.navbar-collapse.collapse.show {
  background-color: var(--asb-main);
  min-height: 100vh;
  outline: none !important;
}

@media (max-width: 991px) {
  .nav-link {
    & .header {
      border-bottom: 1px solid white !important;
      &:focus,
      &:hover,
      &:active {
        color: var(--asb-secondary) !important;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    text-align: center;
    & li {
      border-bottom: 1px solid white !important;
    }

    &.show {
      display: inline-block !important;
    }
  }
}


.updates-header{
  padding: 0.25rem 0;
  overflow-x: hidden; 
}
