.resource-link {
  text-decoration: none;
  color: var(--asb-primary);
  & :hover {
    color: var(--asb-secondary);
  }
}

.contact {
  line-height: 1.5rem;
  padding-left: 0;
  & li {
    margin-left: 0;
    list-style: none;
    & a {
      text-decoration: none;
      color: inherit;
      font-weight: 600;
      transition: color 0.5s ease-out;
      &:hover {
        color: var(--asb-primary);
      }
    }
  }
}

.achievement {
  width: 25ch;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.8rem !important;
}
